section#footer {
  grid-column: 2/3;
}

section#footer > .container {
  /* sizing */
  padding: clamp(2rem, 5vw, 4rem) clamp(4rem, 5vw, 8rem);

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  /* styling */
  color: var(--foreground-color-200);
  background: var(--background-color-200);
}

section#footer > .container > svg {
  /* sizing */
  width: 500px;
  max-width: 100%;

  /* styling */
  fill: currentColor;
  color: inherit;
}

section#footer > .container > span {
  /* text */
  text-align: center;
}